<h1><%= @list.name %></h1>
<br>
<p>
  <%= link_to 'Add Bookmark', new_list_bookmark_path(@list) %>
  <br>
  <%= link_to 'Go back to main page', lists_path %>
</p>
<br>
<h5> Bookmarks: </h5>
<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
      Title: <%= bookmark.movie['title']%>
    <br>
      Comment: <%= bookmark.comment %>
    <br>
      Poster:
    <br>
     <img src='<%= bookmark.movie['poster_url'] %>' alt='<%= bookmark.movie['title'] %> poster' width='300' height='500'>
    <br>
      <%= link_to "Delete Bookmark", bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <%end%>
</ul>
